[diff]
    tool = default-difftool
[diff "default-difftool"]
    cmd = code --wait --diff $LOCAL $REMOTE
[user]
    email = goodsmile314159@gmail.com
    name = Hibikine Kage
[core]
    autoCRLF = input
    editor = vim
[push]
    default = simple
[http]
[https]
[http]
[https]
[filter "ignorelastupdate"]
    smudge = cat
    clean = perl -pe 's/^lastUpdateCheck [0-9]+\n$//g'
[color]
    diff = auto
    status = auto
    branch = auto
    interactive = auto
    ui = true
    pager = true
[color "status"]
    added = green
    changed = red bold
    untracked = magenta bold
[color "branch"]
    remote = yellow
[include]
	path = .gitconfig.local
