[user]
	email = goodsmile314159@gmail.com
	name = Hibikine Kage
[push]
	default = simple
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[core]
	editor = vim
