[diff]
    tool = default-difftool
[diff "default-difftool"]
    cmd = code --wait --diff $LOCAL $REMOTE
[user]
	email = goodsmile314159@gmail.com
	name = Hibikine Kage
	signingkey = 3C274F44D691151A
[core]
    autoCRLF = input
    editor = vim
	excludesfile = $HOME/.gitignore_global
[push]
    default = simple
[http]
[https]
[http]
[https]
[filter "ignorelastupdate"]
    smudge = cat
    clean = perl -pe 's/^lastUpdateCheck [0-9]+\n$//g'
[filter "ignoreyvmdir"]
    smudge = cat
    clean = perl -pe 's/^export YVM_DIR=.+\n$//g'
[filter "ignorephpcsfixerlastdownload"]
    smudge = cat
    clean = perl -pe 's/^ *\"php-cs-fixer.lastDownload\" *: *[0-9]+,$//g'
[color]
    diff = auto
    status = auto
    branch = auto
    interactive = auto
    ui = true
    pager = true
[color "status"]
    added = green
    changed = red bold
    untracked = magenta bold
[color "branch"]
    remote = yellow
[include]
	path = .gitconfig.local
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[credential]
	helper = store
[alias]
    d = "!f() { args=$@; [ -z \"$args\" ] && args=HEAD; ([ \"$args\" = \"HEAD\" ] && git status --short || git diff --name-status $args | sed 's/\t/  /') | fzf --preview \"echo {} | cut -c 4- | xargs git diff --color=always $args --\" --multi --height 90% | cut -c 4-; }; f"
    da = !git d | xargs git add --
    dr = !git d | xargs git reset --
    c = commit
    b = branch
    cm = commit -m
    f = fetch
    s = status
    rh = reset --hard
    clog = "!f() { args=$@; if [ -n \"$args\" ]; then git checkout $args; else git --no-pager reflog | awk '$3 == \"checkout:\" && /moving from/ {print $8}' | uniq | head | fzf | xargs git checkout; fi; }; f"

[commit]
	gpgsign = true
[init]
	defaultBranch = main
[pull]
	rebase = false
