[Unit]
Description=Test Web Server with port %i

[Service]
Type=simple
ExecStart=/opt/test-web-server/test-web-server.py %i

[Install]
WantedBy=multi-user.target
